<!--
Team KOCY -- William Yin, Liam Kronman, Jason Chan, Stella Oh
SoftDev
K15 -- Sessions Greetings
2020-12-12
-->


<!DOCTYPE html>
<!--
     simple demo of HTML forms via Flask
-->

<html>

  <head>
    <title> LOGIN PAGE </title>
  </head>

  <body>
    <h1>
      Welcome, Travelers of the Intertoobz!
    </h1>

    <h2>Team KOCY -- William Yin, Liam Kronman, Jason Chan, Stella Oh</h2>

    <h3>
      Enter your username below to proceed.
    </h3>
    <form action="/" method="post">
      <p>Username:</p>
      <input type="text" name="username">
      <br>
      <p>Password:</p>
      <input type="password" name="password">
      <br>
      <br>
      <input type="submit" value="Login">
    </form>
    <br>
  </body>

</html>
